.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

#navbar-custom {
  background-color: white;
}

#header {
  background-color: white;
  font-family: 'Papyrus';
  color: #7C81EF;
}

#title-font {
  font-family: 'Papyrus';
  color: #7C81EF;
}

#body-font {
  font-family: 'Arial';
}