.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

#navbar-custom {
  background-color: white;
}

#header {
  background-color: white;
  font-family: 'Papyrus';
  color: #7C81EF;
}

#title-font {
  font-family: 'Papyrus';
  color: #7C81EF;
}

#body-font {
  font-family: 'Arial';
}