/* Font Formatting */
h1, h2, h5 {
  font-family: 'Arial';
  color: #3498db;
}

h3, button, li, p {
  font-family: 'Arial';
}

a {
  font-family: 'Arial';
  font-style: italic;
  color: #3498db;
}

#light-background {
  color: black;
}

/* Background Colors */

#navbar-custom {
  background-color: white;
}

#header {
  background-color: white;
}

/* From Bootstrap */
.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
